<h2>Surveys</h2>
<hr/>

<% if can_administer? %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to "New Survey", new_question_group_path, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
<% end %>

<br>

<div class="panel panel-default">
  <div class="panel-body">
  	<div class="row">
  		<div class="col-md-12">
  			<h4>Available Surveys</h4>
  		</div>
  	</div>
    <%= render partial: "question_group", collection: @question_groups %>
  </div>
</div>
