<h2>Surveys</h2>
<hr/>

<% if can_administer? %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to "New Survey", new_question_group_path, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
<% end %>

<br>

<div class="row">
  <div class="col-sm-12">
    <%= render partial: "question_group", collection: @question_groups %>
  </div>
</div>
